body {
    font-family: sans-serif;
  }
  
  #canvas {
    border: 1px solid red;
  }
  
  #collapse {
    border: 1px solid red;
    margin: 16px 0;
    padding: 5px;
    color: red;
    text-align: center;
  }
  
  #collapse:hover {
    background-color: rgb(220,220,220);
    color: black;
  }